/* src/Styles/sidebar.css */

.sidebar {
  width: 230px;
  background: #111;
  color: rgb(44, 42, 42);
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.logo {
  color: rgb(56, 53, 53);
  font-size: 22px;
  margin-bottom: 30px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 12px;
  margin-bottom: 10px;
  background: #222;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #444;
}
